<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <title>{% block title %}Document{% endblock %}</title>
  </head>
  <body>
    <div class="container">
      <div class="content">
        {% include 'includes/navigation.html' %}
        <main class="content-main">
          {% block content %}This is body{% endblock %}
        </main>
        {% include 'includes/footer.html' %}
      </div>
    </div>
  </body>
</html>